.level2 {
  justify-content: center;
  margin-left: 8em;
}

.level h2 {
  margin-top: 1em;
  color: #625efb;
  font-weight: bold;
}

.progress-bar{
  width: 100%;
  background: #625efb;
}
.questoeshtml2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
  flex-direction: column;
}
.questoeshtml2 img {
  width: 90%;
}
.imguno2 img {
  width: 90%;
}
.geralhtml2 {
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.imgtres2 {
  width: 607.5px;
  height: 250px;
  background: #030075;
  color: aliceblue;
  font-size: 2em;
  border-radius: 0px 0px 50px 50px;
}
.butao2 {
  width: 400px;
  height: 150px;
  margin-top: 100px;
  border-radius: 40px;
  font-size: 45px;
  font-weight: 600;
  background: #7774fd;
  box-shadow: 5px 5px 15px rgba(11, 76, 242, 0.6);
  border: 10px solid #0b4cf2;
  padding: 15px 30px;
}
.resro2 {
  text-align: center;
  margin: auto;
  margin-top: 3em;
  color: #0b4cf2;
}

.questoeshtml2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
  flex-direction: column;
}
.questoeshtml2 img {
  width: 90%;
}
.imguno2 img {
  width: 90%;
}
.geralhtml2 {
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.imgtres2 {
  width: 607.5px;
  height: 350px;
  background: #030075;
  color: aliceblue;
  font-size: 2em;
  border-radius: 0px 0px 50px 50px;
}
.imgtres2 input {
  width: 33%;
  margin: 20px;
}
