.roma {
  background-color: #bce0fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: 100vh;
}

.roma h1 {
  color: #4263eb;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 20px;
}
.conteudo h2 {
  margin: 1em;
}
.conteudo {
  background-color: #4263eb;
  color: white;
  padding: 30px;
  border-radius: 20px;
  text-align: justify;
  font-size: 1.2em;
  margin-bottom: 20px;
  max-width: 50%;
  height: 30em;
}

.roma button {
  background-color: #4263eb;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 1.1em;
  cursor: pointer;
  height: 6em;
  width: 12em;
}
