body {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-left: -2em;
  height: 95vh;
  margin-top: 6em;
  background-color: #6460ff;
  background-image: linear-gradient(
    160deg,
    #6460ff 0%,
    #7576ff 50%,
    #b6cfff 100%
  );
}
.sidebar a {
  color: aliceblue;
}
.sidebar img {
  width: 3em;
  margin-right: 2em;
  margin-left: 2em;
  padding-bottom: 1em;
}
.all {
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #6562ff;
  height: 80vh;
  width: 100%;
  margin-right: -5.4vh;
  margin-top: -2em;
}
.all img {
  border-radius: 2em;
  margin: 5em;
}
.all h2 {
  margin: 1em;
}
