.divMaster {
  margin-top: 135px;
  width: 100%;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #6460ff;
  background-image: linear-gradient(
    160deg,
    #6460ff 0%,
    #7576ff 50%,
    #b6cfff 100%
  );
}
.sidebar a {
  color: aliceblue;
}
.sidebar img {
  width: 3em;
  margin-right: 2em;
  margin-left: 2em;
  padding-bottom: 1em;
}
.all {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #6562ff;
  height: 80vh;
  width: 100%;
}
.quadro img {
  border-radius: 2em;
  margin: 5em;
  width: 90%;
}
.jeito {
  display: flex; /* Define o contêiner como flexível */
  justify-content: center; /* Alinha o item horizontalmente no centro */
  align-items: center; /* Alinha o item verticalmente no centro */
}

.jeito h2 {
  color: #ffff;
  margin: 0; /* Remove a margem padrão do <h2> */
}
/* .all img {
  border-radius: 2em;
  margin: 5em;
}
.all h2 {
  margin: 1em;
} */
