.logo {
  justify-content: space-between;
}

.logo a {
  color: #ffffff;
}


.escrita {
  color: #ffffff;
  margin-bottom: 1em;
}

.escrita1 {
  color: #ffffff;
}

.escrita2 {
  color: #ffffff;
}
.pez {
  background: #625efb;
}

.hashtag {
  color: #ffffff;
}
