.TUFO {
  display: flex;
}

.allt {
  position: relative;
  margin-top: 10em;
  gap: 5em;
  height: 25em;
  margin-bottom: 1em;
  margin-left: 2em;
}
.texxtinho {
  position: absolute;
  bottom: 0;
  height: 10em;
  width: 33.3%;
  background: #625efb;
  border-radius: 0 0 2em 2em;
}

.texxtinho h2 {
  color: aliceblue;
}
& Link {
  color: aliceblue !important;
}
.C1 {
  margin: 1;
  border-radius: 4em;
}

.C1 img {
  width: 100%;
  padding-bottom: 100px;
}

.C2 {
  margin: 1;
  border-radius: 4em;
}

.C2 img {
  width: 100%;
  padding-bottom: 100px;
}

.C3 {
  margin: 1;
  border-radius: 4em;
}

.C3 img {
  width: 100%;
  padding-bottom: 100px;
}

.barralatera img {
  width: 4em;
  margin-right: 2em;
  margin-left: 2em;
  padding-bottom: 1.5em;
  margin-top: 1em;
}

.barralatera {
  display: flex;
  flex-direction: column;
  height: 70em;
  margin-bottom: 10em;
  background: white;
  border: 2px solid #625efb; /* Adiciona uma borda de 2px, cor preta */
  border-radius: 15px; /* Adiciona um border radius de 15px */
}

.barralatera p {
  font-size: 30px;
  font-weight: 500;
  color: black;
}

.img1 {
  align-items: center;
}

.img2 {
  align-items: center;
}

.img3 {
  align-items: center;
}

.Lingua {
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.am {
  gap: 7em;
  height: 25em;
}
.am img {
  width: 100%;
}
.umm {
  margin-left: 2em;
}

.em {
  margin-top: 3em;
  gap: 7em;
  height: 25em;
  margin-bottom: 3em;
}
.em img {
  width: 100%;
}
.doins {
  margin-left: 2em;
}
