.header {
  background-color: #6562ff;
  align-items: center;
  height: 135px;
  max-height: 6rem;


  /* position: fixed; */
  /* top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  right: 0; */
}

.header a {
  text-decoration: none;
  color: white;
  padding-inline: 1rem;
  font-size: 1.3rem;
}

.navtop {
  display: flex;
  flex-direction: row;
  max-height: 6rem;
}
.navtop a {
  align-content: center;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 2em;
}
.header img {
  width: 6em;
  padding: 0;
}

.idioma {
  min-height: 3rem;
  align-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 4rem;
}
.idioma a {
  font-size: 2em;
}

.idioma img {
  width: 5rem;
  margin-bottom: -0.1rem;
}
/* 
.login {
  align-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 4rem;
} */
.login a {
  background: #b6cfff;
  max-height: 3rem;
  align-items: center;
}

.login a:hover {
  /* background: var(--cor1);*/
  color: white !important;
  transition: 0.5s ease;
}

.login a {
  color: #6562ff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-weight: bold;
  /* border-radius: 4rem; */
  /* font-family: Karantina; */
}
/* .login button a:hover {
  color: var(--main-color);
} */
